* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  body button,
  body input {
    font-family: "Poppins", sans-serif;
  }
  
  main {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .dash {
    height: 100vh;
  }
  .login {
    background: #c4c4c4;
    display: flex;
  }
  .rightside {
    background: #b67373;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .login-container {
    width: 75%;
    margin: 0px 0px 0px 25%;
    align-self: center;
  }
  .form-title h3 {
    font-size: 35px;
    width: 70%;
    padding: 0px 0px 20px 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  form .pass {
    margin: 20px 0px 20px 5px;
  }
  form .submit {
    width: 35%;
    margin: 10px 0px 50px 5px;
    border-radius: 20px;
    border: none;
    min-height: 5vh;
    background: #8bc7cb;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
  }
  form .username,
  .pass {
    outline: none;
    border: none;
    background: #999494;
    letter-spacing: 1px;
    font-size: 20px;
    min-height: 6vh;
    text-indent: 10px;
  }
  .username {
    margin-left: 5px;
  }
  
  .flinks {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .flinks a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  #notreg {
    padding-top: 10px;
  }
  
  .username:focus,
  .pass:focus {
    background: #aed6b9af;
    border: 1px solid #b67373;
  }
  form .submit:hover {
    background: #3cd5e08c;
  }
  .form-title {
    animation: titledrop 2s ease;
  }
  
  @keyframes titledrop {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .mtf {
    min-height: 5vh;
    width: 50%;
    text-align: center;
  }
  .mtf span {
    font-size: 40px;
  }
  .mtf p {
    font-size: 18px;
    font-weight: 400;
  }
  
  .rightside .gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-row-gap: 5px;
    grid-column-gap: 10px;
  }
  
  .gallery img {
    width: 100%;
  }
  .mainimg {
    transition: width 2s ease, height 2s ease, transform 2s ease;
    cursor: pointer;
  }
  
  .gallery h3 {
    font-size: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bolder;
    grid-column: 1/4;
    padding: 20px 0px;
  }
  .pic1,
  .pic2,
  .pic4 {
    transition: width 2s ease, height 2s ease, transform 2s ease;
    cursor: pointer;
  }
  .mainimg:hover {
    width: 120%;
    height: 120%;
    transform: translate(-5%, -40%);
    z-index: 2;
  }
  .pic1:hover,
  .pic2:hover,
  .pic4:hover {
    width: 120%;
    height: 120%;
    transform: translate(-5%, -40%);
    z-index: 2;
  }
  
  .modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .modal-content {
    background-color: rgba(255, 255, 255, 0.92);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: 0px 0px 40px 0px whitesmoke;
    animation: modalSlide 1.5s ease;
  }
  .modal-content input {
    font-size: 15px;
  }
  #name,
  #email,
  #username,
  #password {
    text-indent: 5px;
    outline: none;
    border: none;
    background: #9994949f;
    letter-spacing: 1px;
    min-height: 6vh;
    width: 50%;
  }
  .modal-content .submit {
    width: 35%;
    border-radius: 20px;
    border: none;
    min-height: 5vh;
    background: #8bc7cb;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
  }
  
  #username:focus,
  #password:focus,
  #email:focus,
  #name:focus {
    background: #aed6b9af;
    border: 1px solid #b67373;
  }
  .modal-content .submit:hover {
    background: #3cd5e08c;
  }
  .modal-content a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: auto 0px;
  }
  .modal-content h1 {
    position: absolute;
    top: 0;
    right: 15px;
    transform: rotate(45deg);
  }
  .modal-content form {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -15px 0px -60px 0px;
  }
  .modal-content form input {
    font-weight: bold;
  }
  .modal-content h2 {
    margin: auto 0px;
  }
  #close {
    cursor: pointer;
  }
  
  @keyframes modalSlide {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @media screen and (max-width: 1024px) {
    main {
      height: 100vh;
      grid-template-columns: repeat(auto-fit, minmax(50%, 100%));
      grid-template-rows: repeat(2, minmax(60vh, 100vh));
    }
    .login {
      width: 100%;
      max-height: 100%;
      align-items: center;
      justify-content: center;
    }
  
    .login-container {
      width: 90%;
      margin: auto;
      margin-left: 50px;
    }
    .form-title h3 {
      font-size: 18px;
    }
    form {
      width: 80%;
    }
    form .username,
    .pass {
      font-size: 14px;
      min-height: 4vh;
    }
    form .submit {
      min-height: 4vh;
      width: 20%;
      font-size: 12px;
    }
    .flinks a {
      font-size: 14px;
    }
  
    .rightside {
      width: 100%;
    }
    .mtf {
      margin-top: 2%;
    }
    .rightside span {
      font-size: 25px;
    }
    .rightside p {
      font-size: 13px;
    }
    .rightside .gallery {
      margin: auto 10px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media screen and (max-width: 429px) {
    .rightside .gallery {
      margin: auto 10px;
      grid-template-columns: repeat(auto-fit, minmax(120px, 0.5fr));
    }
  }
  