* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body button,
body input {
  font-family: "Poppins", sans-serif;
}

/* Login page */
.login {
  background-color: #c4c4c4;
  width: 100%;
  height: fit-content;
}

.login-container {
  padding: 10px;
}
.form-title h3 {
  font-size: 40px;
}
.login-form {
  line-height: 50px;
  padding: 5px;
}
.login-form input {
  outline: none;
  border: none;
  background: #999494;
  letter-spacing: 1px;
  font-size: 18px;
  min-height: 5vh;
  max-height: 6vh;
  text-indent: 10px;
  width: 100%;
}
.login-form .submit {
  margin-top: 10px;
  width: calc(100% - 200px);
  border-radius: 20px;
  border: none;
  min-height: 5vh;
  background: #8bc7cb;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

.flinks {
  padding: 10px;
}
.flinks a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  line-height: 30px;
}

/* Family Page */
.family {
  background-color: #b67373;
  width: 100%;
  height: fit-content;
}

.mtf {
  padding: 10px;
}
.mtf span {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
}
.mtf p {
  width: fit-content;
  font-size: 15px;
  margin: 0 auto;
}

.gallery {
  padding: 10px;
  margin: 0 auto;
}
.gallery img {
  width: 100%;
  padding: 2px;
}

/* Modal */
.modal {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.92);
  position: relative;
  padding: 0 10px 10px;
  width: calc(100% - 20px);
  height: fit-content;
  margin: auto;
  animation: modalSlide 1.5s ease;
  box-shadow: 0px 0px 40px 0px whitesmoke;
}
.modal-content h1 {
  position: absolute;
  top: -5px;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-content h2 {
  margin: 10px 5px 0;
}

.modal-content form {
  padding: 20px 5px;
  line-height: 30px;
}
.modal-content form input {
  font-weight: bold;
  outline: none;
  border: none;
  min-height: fit-content;
  min-width: 80%;
  background: #999494;
  letter-spacing: 1px;
  font-size: 15px;
  text-indent: 5px;
}
.modal-content form .submit {
  margin-top: 10px;
  width: 30%;
  border-radius: 20px;
  border: none;
  min-height: 5vh;
  background: #8bc7cb;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

.modal-content a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  padding: 0 0 5px 5px;
}

/* Animations */
.username:focus,
.pass:focus {
  background: #aed6b9af;
  border: 1px solid #b67373;
}
form .submit:hover {
  background: #3cd5e08c;
}
.form-title {
  animation: titledrop 2s ease;
}

@keyframes titledrop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes modalSlide {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Extras */
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* media queries */

@media only screen and (min-width: 768px) {
  /* Login page */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-title h3 {
    font-size: 48px;
  }
  .login-form {
    padding: 10px 50px 0;
    margin-top: 10px;
    width: calc(100% - 150px);
  }
  .login-form input {
    font-size: 25px;
    font-weight: 100;
    min-height: fit-content;
    width: 85%;
    padding: 20px 0;
  }
  .login-form .pass {
    margin-top: 5px;
  }
  .login-form .submit {
    height: fit-content;
    padding: 0 10px;
    width: fit-content;
    font-size: 28px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 15px;
  }

  .flinks {
    margin-top: 5px;
    align-self: flex-end;
    padding: 5px;
  }
  .flinks a {
    font-size: 22px;
    font-weight: 300;
  }
}

/* Family Page */
.mtf {
  padding: 10px;
}
.mtf span {
  font-size: 44px;
  font-weight: 400;
}
.mtf p {
  font-size: 25px;
  font-weight: 300;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gallery img {
  width: 100%;
  padding: 10px;
}

/* Modal */
.modal-content {
  padding: 0 10px 10px;
  width: 70%;
  margin: auto;
}
.modal-content h2 {
  font-size: 38px;
}

.modal-content form {
  line-height: 40px;
}
.modal-content form input {
  min-height: 3vh;
  min-width: 70%;
  padding: 5px 0;
}
.modal-content form .submit {
  border-radius: 0;
  width: fit-content;
  min-height: fit-content;
  padding: 10px 10px;
  font-size: 15px;
}

.modal-content a {
  font-size: 18px;
  font-weight: 400;
}